.input-display {
  display: table;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 16px;
}

input {
  border-start-start-radius: 2ch;
  border-bottom-left-radius: 2ch;
}

button {
  background-color: #c97047;
  border-color: rgb(216, 216, 216);
  border-start-end-radius: 2ch;
  border-bottom-right-radius: 2ch;
}

button:hover {
  background-color: #cc6231;
  border-color: rgb(216, 216, 216);
}

